
<label>Formulario de carga </label> 
</br>
<label>Elegir medico</label>
<input type="text">
</br>
<label>Tipo de orden:   </label>
    <select>
        <option value="analisis">Analisis</option>
        <option value="medicamento">Medicamento</option>
        <option value="tratamiento">Tratamiento</option>
    </select>
</br>
<label>Adjuntar orden:   </label>
<input type="file">
</br>
<label>Estado:  </label>
    <select disabled="true">
        <option value="pendiente">Pendiente</option>
        <option value="aceptada">Aceptada</option>
        <option value="rechazada">Rechazada</option>
    </select>