<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Formulario de carga</h3>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="form-group">
                    <label>Tipo de orden:   </label>
                    <select [(ngModel)]="order.tipo" [ngModelOptions]="{standalone: true}" class="form-control">
                        <option value="analisis">Analisis</option>
                        <option value="medicamento">Medicamento</option>
                        <option value="tratamiento">Tratamiento</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Adjuntar orden:   </label>
                    <br>
                    <input [(ngModel)]="order.data" [ngModelOptions]="{standalone: true}" type="file" class="">
                </div>
            </form>
            <div class="col text-center">
                <button type="button" class="btn btn-lg btn-primary"(click)="saveOrder()">Cargar orden</button>
            </div>
        </div>
    </div>
</div>








