<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Obra Social</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order" routerLinkActive="active">Cargar Orden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ver_orden" routerLinkActive="active">Ver Orden</a>
        </li>
      </ul>
    </div>
  </nav>
