<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Formulario de carga</h3>
        </div>
        <form class="card-body">
            <label>Seleccione que desea cargar en la cartilla:</label>

            <select [(ngModel)]="cartilla.tipo" [ngModelOptions]="{standalone: true}" class="form-control">
                <option value="Medicamento">Medicamento</option>
                <option value="Hospital">Hospital</option>
                <option value="Farmacia">Farmacia</option>
                <option value="Medico">Medico</option>
            </select>
        <br>

        <div *ngIf="cartilla.tipo === 'Medicamento'">
            <label>Nombre: </label>   
            <input [(ngModel)]="cartilla.nombre" [ngModelOptions]="{standalone: true}"  type="text" class="form-control">
            <br>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Agregar Medicamento">
        </div> 
        <div *ngIf="cartilla.tipo === 'Hospital' || cartilla.tipo === 'Farmacia'">
                <label>Nombre: </label>
                <input type="text" [(ngModel)]="cartilla.nombre" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
                <label>Direccion:</label> 
                <input type="text" [(ngModel)]="cartilla.direccion" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
                <label>Telefono:</label> 
                <input type="text" [(ngModel)]="cartilla.telefono" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
                <br>
                <input *ngIf="cartilla.tipo === 'Farmacia'" class="btn btn-primary btn-lg btn-block" type="submit" value="Agregar Farmacia">
                <input *ngIf="cartilla.tipo === 'Hospital'" class="btn btn-primary btn-lg btn-block" type="submit" value="Agregar Hospital">
        </div>
        <div *ngIf="cartilla.tipo === 'Medico'">
            <label>Nombre: </label>
            <input type="text" [(ngModel)]="cartilla.nombre" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
            <label>Especialidad:</label> 
            <input type="text" class="form-control">
            <label>Hospital:</label> 
            <input type="text" class="form-control"> <!-- Aca seria un select de Hospitales-->
            <br>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Agregar Medico">
        </div>
        </form>
    </div>

</div>

