<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h3>Formulario de carga</h3>
        </div>
        <form class="card-body">
            <label>Seleccione que desea cargar en la cartilla:</label>

            <select [(ngModel)]="cartilla.tipo" [ngModelOptions]="{standalone: true}" class="form-control">
                <option value="Medicamento">Medicamento</option>
                <option value="Hospital">Hospital</option>
                <option value="Farmacia">Farmacia</option>
                <option value="Medico">Medico</option>
            </select>
        

        <div *ngIf="cartilla.tipo === 'Medicamento'">
            <label>Nombre: </label>   
            <input [(ngModel)]="cartilla.nombre" [ngModelOptions]="{standalone: true}"  type="text">
        </div> 
        <div *ngIf="cartilla.tipo === 'Hospital'">
                <label>Nombre: </label>
                <input type="text" [(ngModel)]="cartilla.nombre" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
                <label>Direccion:</label> 
                <input type="text" [(ngModel)]="cartilla.direccion" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
        </div>
        <div *ngIf="cartilla.tipo === 'Medico'">
                <!---<registerform></registerform> -->
        </div>
        </form>
    </div>

</div>

