<div class="col-md-6 offset-md-3">
<div class="card">
	<div class="card-header"><h3>
		Registro Usuario
	</h3></div>
	<form class="card-body">
<!------ DATOS PERSONALES --------------------------->
		<h5>Datos Personales</h5>
		<br />
		<div class="d-flex">
			<div class="form-group pr-4">
				<label>Nombre: </label>
				<input [(ngModel)]="user.first_name" type="text" [ngModelOptions]="{standalone: true}" class="form-control"> 
			</div>
			<div class="form-group">
				<label>Apellido: </label>
				<input [(ngModel)]="user.last_name" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
			</div>
		</div>
		<div class="d-flex"> 
			<div class="form-group pr-4">
				<label>Ciudad: </label>
				<input [(ngModel)]="user.ciudad" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
			</div>
			<div class="form-group">
				<label>Direccion: </label>
				<input [(ngModel)]="user.direccion" type="text" [ngModelOptions]="{standalone: true}" class="form-control">
			</div>
		</div>
		<div class="form-group">
				<label>Telefono: </label>
				<input [(ngModel)]="user.telefono" type="text" [ngModelOptions]="{standalone: true}" class="form-control col-6">
		</div>
		
		<div class="form-group ">
				<label>Estado civil: </label> 
				<select [(ngModel)]="user.estado_civil" [ngModelOptions]="{standalone: true}" class="form-control col-4">
						<option value="Casado">Casado/a</option>
						<option value="Soltero">Soltero/a</option>
						<option value="Pareja">En pareja</option>
				</select>
		</div>
<!------ DATOS OBRA SOCIAL --------------------->
		<h5>Obra Social</h5>
		<br />
		<div class="d-flex">
			<div class="form-group pr-4">
				<label>N° Afiliado: </label>
				<input [(ngModel)]="user.nro_afiliado" type="number" [ngModelOptions]="{standalone: true}" class="form-control">
			</div>
			<div class="form-group">
				<label>Tipo de afiliado:</label> 
				<select class="form-control">
					<option value="1">Obligatorio</option>
					<option value="2">Voluntario</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label>Ingrese los numeros de los afiliados a cargo que disponga separados por coma. </label>
			<input type="text"class="form-control">
		</div>
<!-- DATOS DE CUENTA -->
		<h5>Cuenta</h5>
		<br />
		<div class="form-group">
				<label>Correo electronico: </label>
				<input [(ngModel)]="user.email" type="email" [ngModelOptions]="{standalone: true}" class="form-control">
		</div>
		<div class="form-group">
				<label>Contraseña: </label>
				<input [(ngModel)]="user.password" type="password" [ngModelOptions]="{standalone: true}" class="form-control">
		</div>
		<div class="form-group">
				<label>Repetir contraseña: </label>
				<input type="password" class="form-control">
		</div>
		<div>
			<input class="btn btn-primary btn-lg btn-block" (click)="saveNewUser()" type="submit" value="Submit">
		</div>
	</form>
</div>
</div>