
<div class="col-md-6 offset-md-3">
    <div class="card-body" >

		<div class="card-header  bg-secondary text-white">
            <h3 class="text-center">Agregar médico </h3>
        </div>  
		<br>
	<div class="form-row" >
            <div class="form-group col-md-4">
                <label>Nombre y Apellido :</label>
                <input type="text" [(ngModel)]="medico.nombre" name="name" class="form-control" placeholder="Patricia Quiroga" required autofocus>
            </div>

            <div class="form-group col-md-4">            
                <label>CUIT :</label>
                <input type="text" [(ngModel)]="medico.cuit" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="20398804050" required autofocus>
            </div>

            <div class="form-group col-md-4">            
                <label>Matricula :</label>
                <input type="text" [(ngModel)]="medico.matricula" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="" required autofocus>
            </div>

            <div class="form-group col-md-4">            
                <label>Hospital :</label>
				<select [(ngModel)]="medico.hospital" [ngModelOptions]="{standalone: true}" class="form-control">
					<option *ngFor="let hospital of hospitales">{{ hospital.nombre }}</option>
				</select>
            </div>

            <div class="form-group col-md-4 field-label-responsive">            
                <label>Email de acceso :</label>
                 <input type="text" [(ngModel)]="medico.correo" name="correo" class="form-control" placeholder="you@Osme.com" required autofocus>

            </div>

           <div class="form-group col-md-4">            
               <label >Especialidad :</label>
	            <select class="form-control">
    	            <option value="selec">seleccionar..</option>
        	        <option value="Medicamento">Clinico</option>
            	    <option value="Hospital">Traumatologo</option>
                	<option value="Farmacia">Analisis</option>
            	</select>
			</div>
			<div class="form-group col-md-4">
				<label>Contraseña :</label>
				<input type="password" [(ngModel)]="medico.password" name="password" class="form-control" placeholder="password" required autofocus>
			</div>
			<div class="form-group col-md-4">	
				<label>Confirmar contraseña :</label>
				<input type="password" name="password2" class="form-control" placeholder="confirmar contraseña" required autofocus>			
			</div>
			<br>
			</div>
			
			<button type="submit" class="btn btn-primary btn-lg btn-block" (click)="saveNewMedico()" data-dismiss="modal" data-toggle="modal" data-target="#Guardarbtn">
                  Guardar</button>
		   	                    </div>

</div>  

<script type="text/javascript">

$('#validateForm').bootstrapValidator({
feedbackIcons: {
	valid: 'glyphicon glyphicon-ok',
	invalid: 'glyphicon glyphicon-remove',
	validating: 'glyphicon glyphicon-refresh'
},
fields: {
	name: {
		validators: {
			stringLength: {
				min: 5,
				message: 'Please Enter your Full name with minimum 5 letters length'
			},
			notEmpty: {
				message: 'Please Enter your Full name'
			}
		}
		},
	correo: {
		validators: {
			stringLength: {
				min: 15,
				max: 100,
				message:'Please enter at least 15 characters and no more than 100'
			},
			notEmpty: {
				message: 'Please Enter Address'
			}
		}
	}
	}
});
	
	
</script>

