<div class="container-fluid">
    <div class="card-header">
      <h3>Ver orden</h3>
    </div>
    <!--<div class="card-body">
      <div class="well well-lg">
        <form class="form-inline" role="form">
          <legend class="text-center">Filtros</legend>
          <div class="d-flex">
            <label>Tipo de orden :</label>
            <div class="form-group pr-4">
              <select class="form-control">
                <option value="analisis">Analisis</option>
                <option value="medicamento">Medicamento</option>
                <option value="tratamiento">Tratamiento</option>
              </select>
            </div>
            <label>Estado: </label>
            <div class="form-group pr-4"> 
              <select  class="form-control">
                <option value="Pendiente">Pendiente</option>
                <option value="Aceptada">Aceptada</option>
                <option value="Rechazada">Rechazada</option>
              </select>
            </div>
          </div>
          <div class="d-flex">
            <label>Fecha: </label>
            <div class= "form-group pr-4">
              <div class="input-group date " id='datetimepicker1' >
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type='text' class="form-control" id='' placeholder='Select Date' >
              </div>
              <div class="input-group-addon input-group date ">to</div>
        
              <div class=" input-group date " id='datetimepicker2' >
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type='text' class="form-control" id='datetimepicker2' placeholder='Select Date'  >
              </div>
            </div>
          </div>
        </form>
        <br>
        <button type="submit" class="btn btn-primary my-1 center-block  fas fa-star-christmas fa-spin " >Aplicar</button>
      </div>
    </div> 
</div>-->
<div>
        <table  id="dtBasicExample" class="table table-striped table-bordered table-sm well well-sm " cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm">Fecha
              </th>
              <th class="th-sm">Tipo
              </th>
              <th class="th-sm">Medico
              </th>
              <th style="width: 10%" class="th-sm">Estado
              </th>
              <th class="th-sm">Descuento
              </th>
              <th class="th-sm">Observacion
              </th>
              <th class="th-sm ">Orden Adjunta <span class="glyphicon glyphicon-paperclip"></span>
              </th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{ order.fecha | date: 'yyyy-MM-dd'}}</th>
            <td>{{ order.tipo }}</td>
            <td>{{ order.medico }}</td>
            <td ><p [ngClass]="{'button-pendiente':order.estado=='Pendiente','button-aceptada':order.estado=='Aceptada','button-rechazada':order.estado=='Rechazada'}">{{ order.estado }}</p></td>
            <td>{{ order.descuento }}</td>
            <td>{{ order.observacion }}</td>
            <td><a href="{{ order.data}}" target="_blank">Ver</a></td>
          </tr>
          </tbody>
        </table>
</div>
