<h1>Registro - Cuenta nueva</h1>
<!--- <Form de datos personales> Nose porque cuando pongo el form no se muestra mas el componente, nose que es lo que falta --->
	<label>N° Afiliado: </label>
	<input type="number" name="number">
	<br />
	<label>Apellido: </label>
	<input type="text" name="ape">
	<br />
	<label>Nombre: </label>
	<input type="text" name="name">
	<br />
	<label>Tipo de afiliado: </label> 
		<select>
				<option value="1">Obligatorio</option>
				<option value="2">Voluntario</option>
		</select>
	<br />
	<label>Telefono: </label>
	<input type="number" name="phone">
	<br />
	<label>Ciudad</label>
	<input type="text" name="ciudad">
	<br />
	<label>Direccion: </label>
	<input type="text" name="dire">
	<br />
	<label>Estado civil: </label> 
		<select>
				<option value="Casado">Casado/a</option>
				<option value="Soltero">Soltero/a</option>
				<option value="Pareja">En pareja</option>
		</select>
	<br />
	<label>Ingrese los numeros de los afiliados a cargo que disponga separados por coma. </label>
	<input type="text" name="afiliados">
	<br />

<!--- </Form> --->

<!--- <Form de datos de cuenta> --->
	<label>Correo electronico: </label>
	<input type="email" name="email">
	<br />
	<label>Contraseña </label>
	<input type="password" name="pass1">
	<br />
	<label>Repetir contraseña </label>
	<input type="password" name="pass2">
	<br />
<!--- </Form> --->