<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header"><h3>
            Iniciar sesion
        </h3></div>
        <form class="card-body">
            <div class="form-group">
                    <label>Correo electronico: </label>
                    <input [(ngModel)]="user.email" type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                    <label>Contraseña: </label>
                    <input [(ngModel)]="user.password" type="password" name="password" class="form-control">
            </div>
            <div class="col text-center">
                <div class="btn-group mr-2">
                    <button type="button" class="btn btn-lg btn-primary" (click)="login()">Iniciar Sesion</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-lg">Registrarse</button>
                </div>
            </div>
        </form>
    </div>
    </div>